<head>
  <meta charset="utf-8" />
  <title>Daily Journal</title>
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  
  <div id="error">
    <h1>Invalid Inputs!!!</h1>
    <form action="/error" method="post">
      <button type="submit">Try again!</button>
    </form>
  </div>
</body>

<div class="footer-padding"></div>
  <div class="footer" id="errorfoot">
    <p>Made with ❤️ by marovichn</p>
  </div>
</div>
</body>
</html>
